extends layout

block content
    h1 Create an Account
    form(id='form' method='POST' action='/editAccount')
        input(type="hidden" name="id" value=user._id)
        p Username: 
            input(type="text" name="username" id="username" value=user.username)
        p Password: 
            input(type="text" name='password' id="password")
        p Age: 
            input(type="text" name='age' value=user.age)
        h2 Please Answer all 3 questions
                h3 What is your favorite animals
                    div(class="radio-toolbar")
                        input(type="radio" id="dog" name="animal" value="dog" class="radio" checked=user.questionOne==="dog"?"true":null)
                        label(for="dog") dog
                        input(type="radio" id="cat" name="animal" value="cat" class="radio" checked=user.questionOne==="cat"?"true":null)
                        label(for="cat") cat
                        input(type="radio" id="fish" name="animal" value="fish" class="radio" checked=user.questionOne==="fish"?"true":null)
                        label(for="fish") fish
                        input(type="radio" id="bird" name="animal" value="bird" class="radio" checked=user.questionOne==="bird"?"true":null)
                        label(for="bird") bird
                h3 What is your favorite color
                    div(class="radio-toolbar")
                        input(type="radio" id="pink" name="color" value="pink" class="radio" checked=user.questionTwo==="pink"?"true":null)
                        label(for="pink") pink 
                        input(type="radio" id="orange" name="color" value="orange" class="radio" checked=user.questionTwo==="orange"?"true":null)
                        label(for="orange") orange
                        input(type="radio" id="purple" name="color" value="purple" class="radio" checked=user.questionTwo==="purple"?"true":null)
                        label(for="purple") purple 
                        input(type="radio" id="limeGreen" name="color" value="limeGreen" class="radio" checked=user.questionTwo==="limeGreen"?"true":null)
                        label(for="limeGreen") lime green
                h3 What is your favorite food 
                    div(class="radio-toolbar")
                        input(type="radio" id="pizza" name="food" value="pizza" class="radio" checked=user.questionThree==="pizza"?"true":null)
                        label(for="pizza") pizza
                        input(type="radio" id="burger" name="food" value="burger" class="radio" checked=user.questionThree==="burger"?"true":null)
                        label(for="burger") burger
                        input(type="radio" id="chickenNugget" name="food" value="chickenNugget" class="radio" checked=user.questionThree==="chickenNugget"?"true":null)
                        label(for="chickenNugget") chicken nuggets
                        input(type="radio" id="nachoes" name="food" value="nachoes" class="radio" checked=user.questionThree==="nachoes"?"true":null)
                        label(for="nachoes") nachoes
         
        //-a(href="/home" value='Cancel' class="btn") Cancel
        nav 
            input(type="submit" value='Save' class="btn")
