doctype 
html 
  head 
    title=title
    link(rel = 'stylesheet' href = 'style.css')
    nav 
        ul 
          each item in config.menu 
            a(href=item[1] target = item[2])
              div(class="btn")
                li(id=item[0]) #{item[0]}
          if user 
            div(class="logout")
              form(method="get" action="/logout")
                input(type="submit" id="btn" class="btn" href='/logout' value="Logout")
              form(method="get" action='/editAccount')
                input(type="submit" id="btn" class="btn" href='/editAccount' value="Edit")
              form(method="get" action='/home')
                input(type="submit" id="btn" class="btn" href='/home' value="Home")
  body
    section 
      block content
      footer
        h1 Last Time Visited#{cookie}
