doctype 
html 
  head 
    title=title
    link(rel = 'stylesheet' href = 'style.css')
    nav 
        ul 
          each item in config.menu 
            a(href=item[1] target = item[2])
              div(class="btn")
                li(id=item[0]) #{item[0]}
          if user 
            div(class="logout")
              form(method="get" action="/logout")
                input(type="submit" id="btn" class="btn" href='/logout' value="logout")
            a(href='/editAccount')
              div(class="btn")
                li(id="btn") Edit
  body
      
    section 
      block content
      p Last Time Visited#{cookie}
